<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ha">
      <h2 data-cy="haDetailsHeading"><span jhiTranslate="projectjhipsterApp.ha.detail.title">Ha</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ha.id }}</span>
        </dd>
        <dt><span jhiTranslate="projectjhipsterApp.ha.name">Name</span></dt>
        <dd>
          <span>{{ ha.name }}</span>
        </dd>
        <dt><span jhiTranslate="projectjhipsterApp.ha.description">Description</span></dt>
        <dd>
          <span>{{ ha.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ha', ha.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
